@mixin bold
    font-family: 'Open Sans', sans-serif
    font-weight: 700

@mixin light
    font-family: 'Open Sans', sans-serif
    font-weight: 400

@font-face
    font-family: 'B52'
    src: url('../font/B52/b52.ttf') format('truetype'),

@mixin title
    font-family: 'B52', serif
    font-weight: 400